// Set your brand colors
$purple: #8A4D76;
$pink: #FA7C91;
$brown: #757763;
$beige-light: #D0D1CD;
$beige-lighter: #EFF0EB;
$blue: #01579b;
$black: #181e25;
$black-bis: #02533b;
$black-ter: #002f6c;
$green: #3dbe61;
$white: #f4f4f4;
$white-bis: #f4f4f4;
$white-ter: #f4f4f4;

// Update Bulma's global variables
$family-sans-serif: "Roboto", sans-serif;
$primary: $blue;
$link: $beige-light;
$link-hover: $beige-lighter;
$dark: $black;
$text: $white;
$text-light: $white-bis;
$text-strong: $white-ter;
$scheme-main: $black;
$scheme-main-bis: $black-bis;
$scheme-main-ter: $black-ter;
$scheme-invert: $white;
$scheme-invert-bis: $white-bis;
$scheme-invert-ter: $white-ter;